body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("./artifacts/ActivPets-Background-1920×1080px.png");
    background-size: cover;
    text-align: center;
}

h1 {
    font-size: 60px;
    color: white;
    font-family: sans-serif;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.btn {
    padding: 10px 20px;
    width: 200px;
    cursor: pointer;
    background-color: greenyellow;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.btn:hover {
    filter: brightness(0.8);
}

.active.container {
    filter: blur(5px) brightness(.7);
}

.popup-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 400px;
    height: 200px;
    top: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: url("./artifacts/ActivPets-Background-1920×1080px-02.png");
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h4 {
    font-size: 30px;
    margin: 10px 0;
    font-family: cursive;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

label {
    color: white;
    font-family: cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.popup-btn {
    background-color: greenyellow;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    cursor: pointer;
    border: 2px solid;
}

.input {
    border: 2px solid;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
}

.input::placeholder {
    color: lightgrey;
}

.close-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.close-icon:hover {
    color: greenyellow;
}

.active.popup-container {
    visibility: hidden;
}